page-home {
    .text-center-title {
        text-align: center;
        font-size: 0.9em!important;
    }
}

super-tabs-toolbar>ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button {
    min-width: 33.3%!important;
}

super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    height: 36px!important;
}