page-scan {
    .scannewprod {
        background-color: #F27933;
        padding-top: 2.2em!important;
        padding-bottom: 2.2em!important;
        border-radius: 3px;
    }
    .minhaslistas {
        margin-top: 1em;
    }
    .text-center {
        text-align: center;
    }
    .ajustbottom {
        margin-top: 1em;
    }
    .img-dms {
        margin: 2em;
    }
    .img-dms img {
        width: 75%;
    }
    .scroll-content {
        background: #fff;
    }
}